@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    box-sizing: content-box;
    margin: 0;
    list-style-type: none;
}

:root {
    --sidebarColor: hsl(204, 98%, 36%);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

p {
    color: grey;
}

.sidebar {
    background-color: var(--sidebarColor);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem 6rem 2rem 1rem;
    color: white;
    overflow: auto;
    flex-basis: 10rem;
    flex-shrink: 1;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items:  center;
}
.sidebar li {
    gap: 1rem;
}

h1 {
    font-size: clamp(1rem, 0.5rem + 3vh, 3rem);
}
.sidebar > section > ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: clamp(1rem, 0.1rem + 2.7vh, 2rem);
}

a.navLink {
    text-decoration: none;
}
a.navLink:visited {
    color: white;
}

.mainPageContainer {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    flex-grow: 1;
    flex-shrink: 0.5;
    flex-basis: 50%;
}

.mainPageContainer > header {
    min-height: 5rem;
    max-height: 50rem;
    padding: 1rem 2rem;
    flex: 1 1 auto;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template:  1fr 2fr / 1fr 10rem 15rem;
    grid-template-areas:
    'searchBar alertIcon cornerUser'
    'mainUser interactionButtons interactionButtons';
    border: 3px solid red;
    min-height: 10rem;
}

.searchBarContainer {
    grid-area: searchBar;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchBarContainer > input {
    border-radius: 20px;
    flex: 1;
    padding: 5px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    background-color: rgb(228, 228, 228);
}
.alertButtonContainer {
    grid-area: alertIcon;
    justify-self: end;
}
.userContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mainUserContainer {
    grid-area: mainUser;
    width: 100%;
    gap: 1rem;
}
.cornerUserContainer {
    grid-area: cornerUser;
    justify-content: space-around;
}
.mainUserContainer > .username::before {
    content: 'Hi there,\a';
    white-space: pre;
    font-size: 0.7em;
}
.postNav {
    grid-area: interactionButtons;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.postNav > button {
    flex-grow: 1;
    min-height: clamp(1rem, 0.5rem + 1vh, 2rem);
    background: none;
    border:none;
    background-color: var(--sidebarColor);
    color: white;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
}



.mainPageContainer > main {
    flex: 1 1 auto;
    border: 3px solid green;
    overflow: auto;
    min-height: 700px;
}




main {
    display: grid;
    grid-template: 4fr 3fr / 4fr 1fr;
    padding: 1rem;
    background-color: #e2e8f0;
}

.cardTitleContainer {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow:auto;
}

.projectsCardTitleContainer {
    grid-row: 1 / span 2;
}

.projectsContainer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
    overflow: auto;
    font-size: 0.9rem;
}

.projectsContainer>article {
    background-color: white;
    border-radius: 0.7rem 1rem 1rem 0.7rem;
    display: grid;
    column-gap: 1rem;
    grid-template: 2rem 1fr 1rem / 1fr repeat(3, 2rem);
    grid-template-areas:
        'title  title  title  title'
        'text  text  text  text'
        '.  button  button  button';
    position: relative;
    align-items:start;
    padding:2rem;
}

article::before {
    content: "";
    background-color: orange;
    height: 100%;
    max-width: 10px;
    border-radius: 1rem 0 0 1rem;
    position:absolute;
    width: min(1vw, 10px);
}

article>.projectButtons {
    grid-area: button;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

article>h4 {
    grid-area: title;
}
article>p {
    grid-area: text;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}





.listContainer {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    font-size: clamp(0.5rem, 0.1rem + 1vw, 0.8rem);
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcementsContainer li{
    flex-direction: column;
    align-items:flex-start;
}

.divisorBar {
    background-color: grey;
    width: 100%;
    height:1px;
}

.listContainer h5 {
    font-size: clamp(0.8rem, 0.3rem + 1vw, 1.1rem);
}

.listContainer p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.sidebar img {
    filter: invert(100%);
}

.userIcon {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    background-color: rgb(245, 202, 9); 
}
.mainUserIcon {
    height: 3rem;
    width: 3rem;
}

.trendingContainer {
    gap: 0.5rem;
    padding: 2rem 2rem;
}

.trendingContainer .userContainer {
    gap: 1rem;
    & h6{
        font-size: 0.8rem;
        font-weight: bold;
    }
    & span{
        color: grey;
    }
}